.content {
    padding: 20px;
    font-size: 20px;
    box-sizing: border-box;
    margin-top: 100px; /* Adjust this value to match the height of the header */
    color: #fff;
}

@media screen and (max-height: 700px) {
    .content {
        margin-bottom: 150px; /* Adjust this value to create space for the footer */
    }
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
    .content {
        margin-top: 240px;
    }
}