.secret {
    color: #0000;
    user-select: all;
    font-size: x-small;
}

.secret-link {
    color: #0000;
    text-decoration: none;
}

.octx, .oct0, .oct1, .oct2, .oct3, .oct4, .oct5, .oct6, .oct7 {
    font-size: 20px;
}

.octx {
    color: #0000;
}

.oct0 {
    color: #FF0000;
}

.oct1 {
    color: #FF9D00;
}

.oct2 {
    color: #FFFF00;
}

.oct3 {
    color: #16DF00;
}

.oct4 {
    color: #00A9FF;
}

.oct5 {
    color: #0000FF;
}

.oct6 {
    color: #8400DE;
}

.oct7 {
    color: #FF00FF;
}

.password {
    border: solid #414141 5px;
    background-color: #000;
    width: 10px;
}

.passwordMatch {
    word-spacing: -6px;
}

.passwordp {
    margin: 0px;
    font-size: 10px;
    word-spacing: -3px;
    width: 200px;
}

