#shake {
    animation: shake 0.1s linear infinite;
}

@keyframes shake {
    0% {
        transform: translateX(0);
        color: #b40;
    }
    25% {
        transform: translateX(-3px);
        color: #000;
    }
    50% {
        transform: translateX(0);
        transform: translateY(3px);
        color: #900;
    }
    75% {
        transform: translateX(-3px);
        color: #600;
    }
    100% {
        transform: translateY(0px);
        color: #c00;
    }
}
